@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #FDFDFD;
}

/* Hide scrollbar for cleaner UI */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}